.zwgk_left{ width:645px; float:left; display:inline; margin-top:10px; *margin-top:3px;}
.zwgk_right{ width:340px; float:right; display:inline;margin-top:10px; *margin-top:3px;}
.zwgk_box{ width:317px; height:95px; overflow:hidden; float:left; display:inline; background:#e6eff4;}
.zw_icon_one{ width:52px; height:52px; background:url(../images/index_icon.png) -20px -194px no-repeat; overflow:hidden; margin-left:20px; margin-top:28px; float:left; display:inline;}
.zw_icon_two{ width:52px; height:52px; background:url(../images/index_icon.png) -124px -194px no-repeat; overflow:hidden; margin-left:20px; margin-top:28px; float:left; display:inline;}
.zw_icon_three{ width:52px; height:52px; background:url(../images/index_icon.png) -222px -194px no-repeat; overflow:hidden; margin-left:20px; margin-top:28px; float:left; display:inline;}
.zw_icon_four{ width:52px; height:52px; background:url(../images/index_icon.png) -330px -194px no-repeat; overflow:hidden; margin-left:20px; margin-top:28px; float:left; display:inline;}

.zw_r{ width:210px; margin-top:5px; overflow:hidden; float:right; margin-right:10px; display:inline;}
.zw_title{ line-height:30px; font-size:16px; color:#296b9b;}
.zw_title a{ color:#296b9b;}
.zw_test{ font-size:14px; line-height:22px; color:#000;}
.zw_test a{ color:#000;}
.zw_test span{ color:#d60101}
.zwgk_box_two{ width:317px; height:95px; overflow:hidden; float:right; display:inline; background:#e6eff4;}
.mt_10{ margin-top:10px;}
.mt_15{ margin-top:10px;}
.wenjian_title { width: 250px; height: 38px; line-height: 38px; overflow: hidden; }
.wenjian_title li {position: relative; display: inline-block; height: 28px; line-height: 28px; padding: 0 10px; background: #b4b4b4; color: #fff; margin-right: 15px; float:left;}
.wenjian_title li.current { background: #4484b2; text-decoration: none; }
.gongkai_shenqing{ width:340px; margin-top:7px; height:48px; background:url(../images/index_icon.png) 0px -265px no-repeat #427ea9;}

.kuaijie{width:646px; float:left; display:inline; margin-top:8px; height:120px; border:1px solid #eee; overflow:hidden;}
.kuaijie .kj_title{ width:40px; text-align:center; padding-top:18px; height:125px; line-height:20px; font-size:16px;overflow:hidden; background:#8db3cf; color:#fff; float:left; display:inline;}
.kuaijie .kj_box{ width:590px; float:right; display:inline; margin-top:4px;}
.kuaijie .kj_box ul li{ width:165px; float:left; display:inline; line-height:27px; font-size:14px; padding-left:25px;}



.kuaijie .kj_box ul li a{ color:#4b0082;}
.kuaijie .kj_box ul li.kj_i1{ background:url(../images/index_icon.png) -27px -337px no-repeat;}
.kuaijie .kj_box ul li.kj_i2{ background:url(../images/index_icon.png) -229px -337px no-repeat;}
.kuaijie .kj_box ul li.kj_i3{ background:url(../images/index_icon.png) -453px -337px no-repeat;}
.kuaijie .kj_box ul li.kj_i4{ background:url(../images/index_icon.png) -27px -369px no-repeat;}
.kuaijie .kj_box ul li.kj_i5{ background:url(../images/index_icon.png) -229px -369px no-repeat;}
.kuaijie .kj_box ul li.kj_i6{ background:url(../images/index_icon.png) -453px -369px no-repeat;}
.kuaijie .kj_box ul li.kj_i7{ background:url(../images/index_icon.png) -27px -402px no-repeat;}
.kuaijie .kj_box ul li.kj_i8{ background:url(../images/index_icon.png) -227px -402px no-repeat;}
.kuaijie .kj_box ul li.kj_i9{ background:url(../images/index_icon.png) -453px -402px no-repeat;}

.kuaijie .kj_box ul li.kj_i10{ background:url(../images/index_icon.png) -27px -432px no-repeat;}
.kuaijie .kj_box ul li.kj_i11{ background:url(../images/index_icon.png) -227px -432px no-repeat;}
.kuaijie .kj_box ul li.kj_i12{ background:url(../images/index_icon.png) -453px -432px no-repeat;}

.index_chaxun{ width:340px; float:right; display:inline;margin-top:10px;}
.hdjl_left{width:645px; float:left; display:inline; margin-top:3px;}
.hdjl_right{ width:337px; float:right; display:inline;margin-top:3px;}
.hdjl_fuwu{ width:190px; float:left; display:inline;}
.hdjl_fuwu ul li{ width:190px; height:45px; overflow:hidden;}
.hdjl_fuwu ul li.hd_i1{ background:url(../images/index_icon.png) 0px -462px no-repeat;}
.hdjl_fuwu ul li.hd_i2{ margin-top:10px; background:url(../images/index_icon.png) 0px -516px no-repeat;}
.hdjl_fuwu ul li.hd_i3{ margin-top:10px; background:url(../images/index_icon.png) 0px -570px no-repeat;}
.hdjl_fuwu ul li.hd_i4{ margin-top:10px; background:url(../images/index_icon.png) 0px -624px no-repeat;}
.hdjl_ft{ width:435px; float:right; display:inline;}
.fangtan_top{ height:100px; margin-top:8px; padding-bottom:8px; overflow:hidden;}
.fangtan_pic{ width:135px; height:98px; border:1px solid #eee; float:left; display:inline;}
.fangtan_pic img{width:135px; height:98px;}
.fangtan_right{ width:265px; float:right; display:inline; line-height:25px; font-size:12px;}
.fangtan_right span{color:#d60101}
.text-box2{ width:1000px; margin-left:auto; margin-right:auto;}
.text-box2 select{ width:145px; overflow:hidden; margin-left:15px;}

/**政务公开**/
.list_bei { background: #f5f5f5; width: 100%; }
.warp { width: 1000px; overflow: hidden; margin-left: auto; margin-right: auto; }
.ml40{ margin-left:40px;}
.gongkai_nav{ height:95px; margin-top:15px; width:1000px; overflow:hidden; background:#fff;}
.gongkai_nav a{ width:150px; background:#fff; float:left; display:block; height:95px;text-align:center; line-height:30px; font-size:14px; color:#333}
.gongkai_nav a:hover{width:150px; background:#d44038; float:left; display:block; color:#fff;height:95px;}
.gongkai_nav a .gk_tb_one{ width:150px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 40px -15px no-repeat;}
.gongkai_nav a .gk_tb_two{ width:150px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 40px -83px no-repeat;}
.gongkai_nav a .gk_tb_three{ width:150px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 40px -147px no-repeat;}
.gongkai_nav a .gk_tb_four{ width:150px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 40px -212px no-repeat;}
.gongkai_nav a .gk_tb_five{ width:150px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 40px -280px no-repeat;}
.gongkai_nav a .gk_tb_six{ width:170px; height:50px; margin-top:10px; text-align:center; background: url(../images/zwgk_icon.png) 35px -830px no-repeat;}
.gongkai_left{ width:307px; float:left; display:inline; margin-top:15px; margin-bottom:15px; background:#fff; height:1205px; overflow:hidden;}
.gongkai_right{ width:680px; float:right; display:inline;margin-top:15px;margin-bottom:15px; background:#fff; height:1205px; overflow:hidden;}
.zwgk_left_title{ height:40px; line-height:40px; border:1px solid #fff; background: url(../images/zwgk_icon.png) 235px -477px no-repeat #6997b9;}
.zwgk_left_title .current{ height:40px; line-height:40px; border:1px solid #fff; background: url(../images/zwgk_icon.png) 235px -571px no-repeat #6997b9;}
.zwgk_left_title .zwgk_one{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -348px no-repeat;}
.zwgk_left_title .zwgk_two{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -397px no-repeat;}
.zwgk_left_title .zwgk_three{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -441px no-repeat;}
.zwgk_left_title .zwgk_title{ margin-left:10px; font-size:16px; color:#fff;}
.jigoufenlei{ width:307px; background:#fff; overflow:hidden; margin-bottom:10px;}
.jigoufenlei a{ width:136px; float:left; display:inline; text-align:left; margin-top:6px; height:25px; line-height:28px; font-size:13px; padding-left:4px; color:#333; margin-left:9px; background:#eff4f9;overflow:hidden;}
.jigoufenlei a:hover{ width:136px; float:left; display:inline; text-align:left;  height:25px; line-height:28px; font-size:13px; color:#333; margin-left:9px;padding-left:4px; background:#d8e4f0; overflow:hidden;}
.zuzhifenlei{ height:180px; }
.zuzhifenlei a{ width:140px; float:left; display:inline; text-align:left; margin-top:10px; height:32px; line-height:32px; font-size:14px; color:#333; margin-left:12px; background:#eff4f9;overflow:hidden;}
.zuzhifenlei a:hover{ width:140px; float:left; display:inline; text-align:left; margin-top:10px; height:32px; line-height:32px; font-size:14px; color:#333; margin-left:12px; background:#d8e4f0;overflow:hidden;}
.ticaifenlei{ height:140px;}
.ticaifenlei a{ width:140px; float:left; display:inline; text-align:left; margin-top:10px; height:32px; line-height:32px; font-size:14px; color:#333; margin-left:12px; background:#eff4f9;overflow:hidden;}
.ticaifenlei a:hover{ width:140px; float:left; display:inline; text-align:left; margin-top:10px; height:32px; line-height:32px; font-size:14px; color:#333; margin-left:12px; background:#d8e4f0;overflow:hidden;}
.gk_more{width:292px; clear:both; text-align:center; margin-top:10px; height:32px; line-height:32px; font-size:14px; color:#333; margin-left:12px; background:#eeeeee;overflow:hidden; border:none; font-family:微软雅黑; margin-bottom:10px;}
.gk_search{ height:49px; line-height:49px; border-bottom:1px solid #ccc; background:url(../images/zwgk_icon.png) -15px -517px no-repeat; padding-left:55px;}
.gk_search select{ width:180px; height:28px; border:1px solid #eee; line-height:28px; margin-top:10px;} 
.gk_search .gk_input{ width:350px; margin-left:15px; height:26px; border:1px solid #eee; line-height:26px; margin-top:10px;}
.gk_search .search-btn { width: 38px; border:none; margin-left:10px; height: 30px; background: url("../images/header-search-btn.png") 0px -1px no-repeat; cursor:pointer; }
.gk_table{}
.gk_table .gk_table_title{ font-size:14px; font-weight:bold; background:#fbfbfb;}
.gk_table td{ height:42px; line-height:42px; border-bottom:1px solid #eee; text-align:left; font-size:14px;}
.gk_table td.hs{ color:#999;}
.gk_table td a{ color:#333;}
.fenye_left{ float:left; line-height:30px;}
.fenye_right{ float:right; line-height:30px; margin-right:20px;}
.fenye_right select{ border:1px solid #ccc; height:28px; line-height:28px; width:80px;}
.fenye{ margin-top:15px; margin-left:15px; font-size:14px;}
.fenye a{ margin-left:14px; display:block; height:30px; line-height:30px; float:left; background:#eff4f9; width:50px; text-align:center;}
.muli_title{ width:40px; height:70px; font-family:微软雅黑; font-size:15px; text-align:center; background:#bc1a20; line-height:16px; color:#fff; float:left; display:inline; padding-top:2px;}
.fangtan_box{ border:1px solid #eee; padding:10px;}
.mt5{ margin-top:5px;}

.ztzltt_right{ width:680px; float:right; display:inline;margin-top:15px;margin-bottom:15px; background:#fff;  overflow:auto;}
.ztzltt_left{ width:307px; float:left; display:inline; margin-top:15px; margin-bottom:15px; background:#fff; height:auto; overflow:hidden;}

/*
*军转信息专题
*/
.ztzltt_jzxx_right{ width:830px; float:right; display:inline;margin-top:15px;margin-bottom:15px; background:#fff;  overflow:auto;}
.ztzltt_jzxx_left{ width:157px; float:left; display:inline; margin-top:15px; margin-bottom:15px; background:#fff; height:auto; overflow:hidden;}

.ztzltt_left_title .zwgk_title{ margin-left:10px; font-size:18px; color:#fff;text-align:center;}

.zuzhi_fl{ width:307px; background:#fff; overflow:hidden; margin-bottom:10px;}
.zuzhi_fl a{ width:130px; float:left; display:inline; text-align:left; margin-top:8px; height:28px; line-height:28px; font-size:13px; padding-left:10px; color:#333; margin-left:9px; background:#eff4f9;overflow:hidden;}
.zuzhi_fl a:hover{ width:130px; float:left; display:inline; text-align:left;  height:28px; line-height:28px; font-size:13px; color:#333; margin-left:9px;padding-left:10px; background:#d8e4f0; overflow:hidden;}
.zwgk_left_title .zwgk_four{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -620px no-repeat;}
.zwgk_left_title .zwgk_five{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -672px no-repeat;}
.zwgk_left_title .zwgk_six{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -720px no-repeat;}
.zwgk_left_title .zwgk_seven{ width:43px; height:28px;  margin-top:10px; float:left; display:inline; overflow:hidden; background:url(../images/zwgk_icon.png) -10px -763px no-repeat;}
.zwgk_left_title .zwgk_eight{ width:43px; height:28px;  margin-top:0px; float:left; display:inline; overflow:hidden; background:url(../images/tian.png) 15px 10px no-repeat;}

.ztzltt_left_title{ height:42px; line-height:42px; border-top:1px solid #fff; background:#6997b9;}
.ztzltt_left_title a{background:#6997b9; display:block; overflow:hidden; height:42px; line-height:42px; color:#fff;}
.ztzltt_left_title a:hover{background: url(../images/zzt_hover.png) right center no-repeat #7db9e5; display:block; overflow:hidden; height:42px; line-height:42px; color:#fff;}
#serviceTypeHead{ height:20px; line-height:20px; margin-top:10px; margin-left:15px; margin-top:10px; padding-bottom:10px; margin-right:10px; background:url(../images/serviceTypeHead.png) left top no-repeat; padding-left:15px;}
